# python
__pycache__/
.venv/
.pytest_cache/

# SSR
.ssr/
/example/
temp/[^.]*
/test/
/log/
/shared_settings/*
!/shared_settings/datasheet/
/sample/data/*.*
/sample/data/*/
/sample/temp/*.*
/sample/temp/*/
*.log
